
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  
    background: linear-gradient(rgb(0, 0, 0) 0%,rgba(63, 51, 51, 0.291) 100%);
}

.contedor{
    height: 100vh;
}
.login-box{
   
    width: 320px;
    height: 450px;
    background-color: black;
    box-shadow: 0px 0px 30px 0px #b2c0e7;
    color: white;
    row-gap: normal;
    border-radius: 10px;
    padding: 30px 30px;
    left: 50%;
    top: 50%;
    margin-left: 35%;
    margin-top: 100px;
    margin-bottom: 200px;
}

.login-box .logo{
    width: 70px;
    height: 70px;
    margin-left: 90px;
    

 
}

.login-box h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 32px;
    font-family: 'Alegreya Sans',sans-serif;
    font-weight: bold;
}
.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Hind Vadodara';
}

.login-box input[type="text"],
.login-box input[type="password"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
    font-family: 'Mukta Vaani';
}

.login-box input[type="submit"]{
    height: 40px;
    font-size: 18px;
    font-family: 'Hind Vadodara';
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
    background-color: #b4b7c1;
    
}

.registro{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
}

a{
    text-decoration: underline;
    margin-left: 8px;
    box-shadow: none;
    color: #fff;
}
.text-footer{
    font-family: 'Mukta Vaani';
    text-align: center;
}
footer{
    background-color: transparent;
    padding: 1rem 0;
    margin-top: 70px;
}

