* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background: url("../Musica/Fotos/Fondo/desktop-wallpaper-rock-roll-data-rock-album.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body::before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 0;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.login-box {
  width: 40%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 30px 0px #b2c0e7;
  color: white;
  border-radius: 10px;
  margin-top: 5%;

  padding: 60px 60px;
  z-index: 1;
}

.login-box .logo {
  width: 70px;
  height: 70px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.login-box h1 {
  margin-top: 5%;
  padding: 0 0 20px;
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}

.login-box label {
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
}

.login-box input {
  width: 100%;
  margin-bottom: 20px;
}

.login-box input[type="text"],
.login-box input[type="password"],
.login-box input[type="email"],
.login-box input[type="date"] {
  border-radius: 10px;
  background-color: #333;
  outline: none;
  height: 50px;
  color: #fff;
  padding-left: 5%;
}

button {
  font-size: 1.5rem;
  color: #fafafa;
  border-radius: 10px;
  border: 2px solid #fafafa;
  background: #252525;
  box-shadow: 3px 3px #fafafa;
  cursor: pointer;
  display: block;
  padding: 10px 20px;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10%;
}

button:active {
  box-shadow: none;
  transform: translate(3px, 3px);
}

.registro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 15px;
}

a {
  text-decoration: underline;
  margin-left: 8px;
  box-shadow: none;
  color: #fff;
}

a:hover {
  background-color: rgba(255, 254, 254, 0.219);
}

footer {
  position: relative;
  z-index: 1;
  background-color: transparent;
  padding: 1rem 0;
  margin-top: 5%;
}

.text-footer {
  color: #ffffff;
  font-family: "Mukta Vaani";
  text-align: center;
}

@media (max-width: 500px) {
  .login-box {
    width: 350px;
    padding: 20px;
    margin: 20px;
    margin-right: 20px;
    margin-top: 50px;
    border-radius: 10px;
    height: 750px;
    color: white;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px, 0px, 30px, 0px, #b2c0e7;
  }
}
