*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo{
    background: linear-gradient(to top, #637bc2 0%, #0f0f0f 80%);
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Mukta Vaani', sans-serif;
}

a{
    text-decoration: none;
 }

.Hero{
    background-color: transparent;
    text-align: center;

}

.contain{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.nav{
    width: 90%;
    right: 3%;
    z-index: 1;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 4%;
    font-family: "Mukta Vaani", sans-serif;
 }

 .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
    transition: transform 0.2s, font-weight 0.2s;
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    font-weight: bold;
  }

 .nav_logo{
    color: aliceblue;
    font-size: 2.5rem;
    z-index: 1;
 }
 
 .user-info {
    display: flex;
    align-items: center;
  }
  
  .text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10%;
  }

.contenedorMayor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 4%;
    box-shadow: 10px 5px rgb(172, 172, 172);
}

.contenedorPlan{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.nombrePlan h2{
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 350%;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.imgPlan{
    margin-left: 5%;
    margin-right: 4%;
}

.imgPlan img{
    border: 5px solid #404259;
    width: 160%;
    border-radius: 15px;
}

.TextoPlan{
    width: 140%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 5px solid #404259;
    margin-left: 20%;
    margin-right: 5%;

}

.TextoPlan h3{
    font-size: 50px;
    margin-top: 6%;
    margin-bottom: 1%;
    text-align: center;
}

.TextoPlan p{
    font-family: 'Hind Vadodara', sans-serif;
    text-align: center;
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25px;
    padding: 10px;
    background-color: #4b4d68;
    border-radius: 6px;
    box-shadow: 7px 13px 37px #000;
}

.relleno{
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 7px;
    border: 1.5px solid black;
    font-family: 'Lato', sans-serif;
}

.camposUno{
    margin: 12px;
    font-family: 'Hind Vadodara', sans-serif;
    display: flex;
    text-align: left;
    
}

.camposUno label{
 margin-right: 15px;
 display: flex;
 font-size: 18px;
 color: white;
}

.contenedorFormulario p{
    margin-left: 13%;
    color: white;
}

.contenedorBoton{
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}

.botonUno{
    background-color: rgba(0, 0, 0, 0.837);
    color: white;
    border-radius: 15px;
    border: solid 2px black;
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 100px;
}

.botonDos{
    background-color: rgba(0, 0, 0, 0.837);
    color: white;
    border-radius: 15px;
    border: solid 2px black;
    cursor: pointer;
    position: relative;
    padding: 10px;
    margin: 10px;
    width: 100px;
}

.final{
    margin: 40px;
}