.cuerpo{
    background-color: rgb(29, 29, 29);
    font-family: 'Lato', sans-serif;
    margin: 0px;
}

.encabezado{
    background-color:#43565f;
    display: flex;
    align-items: center;
    height: 100px;
}

.tituloEncabezado{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 40px;
    text-align: left;
    margin-left: 2%;
    color: rgb(235, 235, 235);
}

.usuario{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-top: 1px;
    margin-left: 870px;
    margin-right: 1px;
    margin-bottom: 3px;
    font-family: 'Alegreya Sans', sans-serif;
    color: rgb(235, 235, 235);;
    position: absolute;
}

.usuarioSubdibiciones{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    text-align: right;
}

.textoUsuario{
    margin-left: 60px;
    margin-right: 0px;
    
}

.imagenUsuario{
    width: 100px;
    height: 60px;
    margin-right: 0px;
    margin-left: 0px;
}

.contenedorMayor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: grey;
    margin-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 50px;
}

.contenedorPlan{
    margin-top: 10px;
}

.nombrePlan{
    font-family: 'Alegreya Sans', sans-serif;
    font-size: 350%;
    color: #000000;
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
}

.imgTextoPlan{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    margin-bottom: 40px;
}

.imgTextoPlan img{
    width: 350px;
    
}

.imgTextoPlan p{
    
}

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.837);
}

.camposUno{
    margin: 15px;
    border: solid 1px rgb(0, 0, 0);
}

.contenedorBoton{
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    
}

.botonUno{
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 15px;
    border: solid 1px black;
    cursor: pointer;
    position: relative;
}

.botonDos{
    background-color: rgba(255, 255, 255, 0.837);
    border-radius: 15px;
    border: solid 1px black;
    cursor: pointer;
    position: relative;
}

.final{
    margin: 40px;
}