*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cuerpo{
    background: linear-gradient(to bottom, #637bc2 0%, #0f0f0f 80%);
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Hind Vadodara', sans-serif;
    font-family: 'Mukta Vaani', sans-serif;
}

a{
    text-decoration: none;
 }

.Hero{
    background-color: transparent;
    text-align: center;

}

.contain{
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
    overflow: hidden;
}

.nav{
    width: 90%;
    right: 3%;
    z-index: 1;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 4%;
    font-family: "Mukta Vaani", sans-serif;
 }

 .nav-link {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(231, 231, 231);
    transition: transform 0.2s, font-weight 0.2s;
  }

  .nav-link:hover {
    color: rgb(255, 255, 255);
    transform: scale(1.1);
    font-weight: bold;
  }

 .nav_logo{
    color: aliceblue;
    font-size: 2.5rem;
    z-index: 1;
 }
 
 .user-info {
    display: flex;
    align-items: center;
  }
  
  .text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  
  .profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 10%;
  }

.contenedorMayor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    margin-top: 5%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5%;
    border-radius: 10px;
}

.contenedorPlan{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.nombrePlan h2{
    font-family: 'Alegreya Sans';
    font-size: 375%;
    color: #000000;
    margin-top: 15px;
    text-align: center;
    padding-top: 3%;
}

.imgPlan{
    width: 100%;
    position: relative;
}

.imgPlan img{
    border-radius: 2%;
    width: 100%;
    padding: 0%;
    margin: 0%;
    opacity: 0.2;
}

.textoPlan{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

.textoPlan h3{
    font-size: 100px;
    font-weight: bolder;
    text-align: center;
    position: absolute;
    top: 4%;
}

.textoPlan p{
    font-family: 'Mukta Vaani';
    text-align: center;
    font-size: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    position: absolute;
    top: 35%;
    font-weight: bold;
}

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 75%;
    padding: 10px;
    background: linear-gradient(to top, #5c5c5c 0%, #0f0f0f 80%);
    border-radius: 6px;
    box-shadow: 7px 13px 37px #979797;
    text-align: center;
    margin-top: 2%;
}

.relleno{
    width: 200px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    border-radius: 4px;
    margin-left: 10%;
    margin-bottom: 7px;
    border: 1.5px solid black;
    font-family: 'Lato', sans-serif;
}

.camposUno{
    margin: 12px;
    padding-left: 7%;
    font-family: 'Hind Vadodara', sans-serif;
    display: flex;
    align-items: center;
}

.camposUno label{
 margin-right: 15px;
 font-size: 18px;
 color: white;
}

.contenedorFormulario p{
    color: white;
}

.condiciones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.condiciones label{
    margin-left: 2%;
    margin-top: 1%;
}

.contenedorBoton{
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    width: 40%;
    align-items: center;
    justify-content: space-between;
}

.botonUno{
    text-align: center;
    margin: 10px 10px;
    width: 100px;
    padding: 15px 15px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    color: aliceblue;
    border-radius: 10px;
    background-color: #637BC2;
    text-transform: uppercase;
    cursor: pointer;
}

.botonUno:hover{
    background-color:#97aceb ;
    transform: scale(1.1);
}

.botonDos{
    margin: 10px 10px;
    width: 100px;
    padding: 15px 15px;
    font-family: 'Hind Vadodara', sans-serif;
    font-weight: 700;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    background-color: #637BC2;
    text-transform: uppercase;
    cursor: pointer;
}

.botonDos:hover{
    background-color:#97aceb ;
    transform: scale(1.1);
}

.footer {
    background-color: transparent;
    padding: 1rem 0;
    margin-top: 70px;

}

.footer__texto {
    font-family: 'Mukta Vaani';
    text-align: center;
    color: white;
    font-weight: bold;
}

.final{
    margin: 40px;
}

@media (max width)